@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply antialiased bg-white text-gray-900 dark:bg-gray-950 dark:text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .navLinks {
      @apply relative m-4 uppercase font-bold;
    }
  .navLinks::after {
      @apply content-[''] bg-[#fa5655] h-[3px] w-[0%] left-0 -bottom-[7px] rounded-xl absolute duration-300;
    }
  .navLinks:hover::after {
      @apply w-[35px];
    }
  .navLinks:hover {
    @apply text-[#fa5655];
  }



  .navLinksActive {
    @apply relative m-4 uppercase font-bold text-[#fa5655];
  }
  .navLinksActive::after {
    @apply content-[''] bg-[#fff] h-[3px] w-[0%] left-0 -bottom-[7px] rounded-xl absolute duration-300;
  }
  .navLinksActive:hover::after {
    @apply w-[35px];
  }
  .navLinksActive:hover {
    @apply text-[#fff];
  }
}
